* {
  margin: 0px;
  padding: 0px;
}
.Regform {
  text-align: center;
  background-color: aqua;
  background-image: url("../IMAGES/Mountain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: blue;
  padding: 10px 0px;
  font-size: large;
}
.heading {
  color: red;
  font-size: 2rem;
  font-weight: bolder;
}
.button {
  padding: 10px;
  background-color: blanchedalmond;
  font-weight: bolder;
  color: red;
  border-radius: 10%;
}
